.task-text {
  width: 300px;
  height: auto;
}

.header-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  border-bottom-style: solid;
  border-bottom-color: black;
}

.app-title {
  font-size: 30px;
}
